.font-liu {
  font-family: 'Liu Jian Mao Cao', cursive;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

section {
  margin: 20px 200px;
}

.image-bar {
  height: 200px;
  overflow: hidden;
}

.image-bar img {
  width: 100%;
  margin-top: -200px;
}

.text-over-image {
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: -140px;

  font-weight: 700;

  color: whitesmoke;
  text-shadow: 2px 0 2px #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}