/* Color Theme Swatches in Hex */
.Sunshine-over-glacier-1-hex { color: #004056; }
.Sunshine-over-glacier-2-hex { color: #2C858D; }
.Sunshine-over-glacier-3-hex { color: #74CEB7; }
.Sunshine-over-glacier-4-hex { color: #C9FFD5; }
.Sunshine-over-glacier-5-hex { color: #FFFFCB; }

/* Color Theme Swatches in RGBA */
.Sunshine-over-glacier-1-rgba { color: rgba(0, 63, 86, 1); }
.Sunshine-over-glacier-2-rgba { color: rgba(43, 133, 140, 1); }
.Sunshine-over-glacier-3-rgba { color: rgba(116, 205, 182, 1); }
.Sunshine-over-glacier-4-rgba { color: rgba(200, 255, 212, 1); }
.Sunshine-over-glacier-5-rgba { color: rgba(255, 255, 202, 1); }

/* -------------------------- */

/* Color Theme Swatches in Hex */
.Pear-Lemon-Fizz-1-hex { color: #04BFBF; }
.Pear-Lemon-Fizz-2-hex { color: #CAFCD8; }
.Pear-Lemon-Fizz-3-hex { color: #F7E967; }
.Pear-Lemon-Fizz-4-hex { color: #A9CF54; }
.Pear-Lemon-Fizz-5-hex { color: #588F27; }

/* Color Theme Swatches in RGBA */
.Pear-Lemon-Fizz-1-rgba { color: rgba(3, 191, 191, 1); }
.Pear-Lemon-Fizz-2-rgba { color: rgba(202, 252, 216, 1); }
.Pear-Lemon-Fizz-3-rgba { color: rgba(246, 232, 103, 1); }
.Pear-Lemon-Fizz-4-rgba { color: rgba(168, 207, 84, 1); }
.Pear-Lemon-Fizz-5-rgba { color: rgba(87, 142, 38, 1); }


/* -------------------------- */

/* Color Theme Swatches in Hex */
.Flat-UI-1-hex { color: #2C3E50; }
.Flat-UI-2-hex { color: #E74C3C; }
.Flat-UI-3-hex { color: #ECF0F1; }
.Flat-UI-4-hex { color: #3498DB; }
.Flat-UI-5-hex { color: #2980B9; }

/* Color Theme Swatches in RGBA */
.Flat-UI-1-rgba { color: rgba(43, 61, 79, 1); }
.Flat-UI-2-rgba { color: rgba(230, 75, 59, 1); }
.Flat-UI-3-rgba { color: rgba(235, 239, 240, 1); }
.Flat-UI-4-rgba { color: rgba(52, 151, 219, 1); }
.Flat-UI-5-rgba { color: rgba(40, 128, 184, 1); }

/* -------------------------- */

/* Color Theme Swatches in Hex */
.Japanese-Garden-1-hex { color: #D8CAA8; }
.Japanese-Garden-2-hex { color: #5C832F; }
.Japanese-Garden-3-hex { color: #284907; }
.Japanese-Garden-4-hex { color: #382513; }
.Japanese-Garden-5-hex { color: #363942; }

/* Color Theme Swatches in RGBA */
.Japanese-Garden-1-rgba { color: rgba(216, 202, 168, 1); }
.Japanese-Garden-2-rgba { color: rgba(91, 131, 47, 1); }
.Japanese-Garden-3-rgba { color: rgba(40, 73, 7, 1); }
.Japanese-Garden-4-rgba { color: rgba(56, 36, 18, 1); }
.Japanese-Garden-5-rgba { color: rgba(54, 56, 66, 1); }
